{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title_block %} {%endblock%}</title>

        {% block css_link_block %} {% endblock %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
         integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
         crossorigin="anonymous">
         <link rel="stylesheet" href="{% static 'css/base_with_bottombar.css' %}" />
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <style>
             html, body {
             max-width: 100%;
             overflow-x: hidden;
            }
         </style>
    </head>
    <body>

            {% block content %}
            {% endblock %}

        <div class="bottom-space-div"  style="height:100px">

        </div>

        <div class="icon-bar">
          <a href="{% url 'seller_home'%}"><i class="fa fa-home"></i></a>
          <a href="{% url 'seller_products'%}"><i class="fa fa-plus-square"></i></a>
          <a href="{% url 'buyer_bag'%}"><i class="fa fa-shopping-bag"></i></a>
          <a href="{% url 'buyer_orders'%}"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>

        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-analytics.js"></script>

        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-firestore.js"></script>

        <script>
          // Your web app's Firebase configuration
          // For Firebase JS SDK v7.20.0 and later, measurementId is optional
          var firebaseConfig = {
            apiKey: "AIzaSyDRubtggu0E5vViTRpCktXzkKRirXQ-YJk",
            authDomain: "shopwala-30b81.firebaseapp.com",
            databaseURL: "https://shopwala-30b81.firebaseio.com",
            projectId: "shopwala-30b81",
            storageBucket: "shopwala-30b81.appspot.com",
            messagingSenderId: "985974321760",
            appId: "1:985974321760:web:5e0b595b9fb12e3e074905",
            measurementId: "G-315RGXNMPX"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          firebase.analytics();
        </script>

        <script src="{% static "js/base_with_bottombar.js" %}"></script>
        {% block js_link_block %} {% endblock %}
    </body>
</html>
