{% extends 'base_with_bottombar.html' %}
{% load static %}
{% block css_link_block %}
<link rel="stylesheet" href="{% static 'css/buyer_bag.css' %}" />
{% endblock %}


{% block title_block %}
{% endblock %}

{% block content %}
<h1>Bag</h1>
{% for name,description,price,quantityType,productCategory,productId in product_item_list %}
    <div class="ctg-item">
        name: <a href="/seller_category_detail/?z={{productId}}">{{name}}</a> <br>description: {{description}} <br>price: {{price}} <br>quantityType: {{quantityType}} <br>productCategory: {{productCategory}} <br>productId: {{productId}} <br><br><br>
    </div>
{% endfor %}
{% endblock %}

{% block js_link_block %}
<script type="text/javascript" src="js/buyer_bag.js"></script>
{% endblock %}
