{% extends 'base_with_bottombar.html' %}
{% load static %}
{% block css_link_block %}
<link rel="stylesheet" href="{% static 'css/buyer_orders.css' %}" />

<style media="screen">

</style>

{% endblock %}


{% block title_block %}
{% endblock %}

{% block content %}
   <div class="page-header">
    <h1>My Orders</h1>
</div>

	<div class="log-out-div">
		<span id="phone-number">{{user_mobile}}</span>
		<span id="sign-out-text"><a href="{% url 'sign_out' %}">Sign out</a></span>
	</div>
{% if product_item_list%}
{% for product_buyerMobile, product_itemCount, product_orderId, product_orderStatus, product_orderTime, product_payment, product_price, product_productId, product_address, product_buyerName, product_pinCode, product_imageUrl in product_item_list %}

        <div class="order-item-container-div">
            <div class="order-image-container-div">
                {% if product_imageUrl %}
                    <img id="order-image" src="{{product_imageUrl}}" alt="no img">
                {% else %}
                    <img id="order-image" src="{% static 'images/default-product.jpg' %}" alt="no img">
                {% endif %}
            </div>
            <div class="order-item-description-div">
                <div class="order-item-row">
                    <span id="order-id">Order #{{product_orderId}}</span>
                    <span id="order-price">${{product_price}}</span>
                </div>

                <div class="order-item-row">
                    <span id="order-item-count">{{product_itemCount}} items</span>
                    <span id="order-time">{{product_orderTime}}</span>
                </div>
                <div class="order-item-row">
                    <span id="order-status">{{product_orderStatus}}</span>
                    <span id="order-detail"><a href="/buyer_order_details/?z={{product_orderId}}">Details</a></span>
                 </div>
            </div>
        </div>
{% endfor %}
{% endif %}
{% endblock %}

{% block js_link_block %}
<script src="{% static "js/buyer_orders.js" %}"></script>
{% endblock %}
