{% extends 'base_with_bottombar.html' %}
{% load static %}
{% block css_link_block %}
<link rel="stylesheet" href="{% static 'css/seller_product_detail.css' %}" />
{% endblock %}


{% block title_block %}
product details
{% endblock %}

{% block content %}
<h1>product details</h1>
{% for name,description,price,quantityType,productCategory,productId, product_item_imageUrl in product_item_list %}
    <div class="ctg-item">
        name: {{name}}<br>description: {{description}} <br>price: {{price}} <br>quantityType: {{quantityType}} <br>productCategory: {{productCategory}} <br>productId: {{productId}} <br>
        {% if product_item_imageUrl %}
            img url : {{product_item_imageUrl}} <br>
            <img src="{{product_item_imageUrl}}" alt="no img" width="50%">
        {% endif %}
        <br><br>
    </div>
    <div class="">
        <a href="/add_to_bag/?z={{productId}}">Add to bag</a>
        <a href="/buy_now/?z={{productId}}">Buy now</a>
    </div>
{% endfor %}
<br>



{% endblock %}

{% block js_link_block %}
<script src="{% static "js/seller_product_detail.js" %}"></script>
{% endblock %}
