{% extends 'base_with_bottombar.html' %}
{% load static %}

{% block css_link_block %}
<link rel="stylesheet" href="{% static 'css/seller_home.css' %}" />
{% endblock %}


{% block title_block %}
home
{% endblock %}

{% block content %}

<div class="logo-image-div">
    <img id="shopwala-logo-image" src="{% static 'images/logo.png' %}" alt="no image">
</div>

<div class="shop-name-div">
    <span id="shop-name">{{businessName}}</span>
</div>

{% if ShopImageDownloadUrl %}
    <div class="shop-image-div">
        <img id="shop-image" src="{{ShopImageDownloadUrl}}" alt="no image">
    </div>
{% else %}
<div class="shop-image-div">
    <img id="shop-image" src="{% static 'images/default-shop.jpg' %}" alt="no image">
</div>
{% endif %}

<div class="shop-address-div">
    <span id="shop-address">{{businessAddress}}</span>
</div>

<div class="shopwala-customercare-header-div">
	<span id="shopwala-customercare-header">FOR ANY SUPPORT CONTACT</span>
</div>
<div class="shopwala-customercare-name-div">
	<span id="shopwala-customercare-name">ShopWala</span>
</div>
<div class="shopwala-customercare-div">
	<span id="shopwala-customercare">+91-9090909090</span>
</div>

{% endblock %}

{% block js_link_block %}
<script src="{% static "js/seller_home.js" %}"></script>
{% endblock %}
