{% extends 'base_with_bottombar.html' %}
{% load static %}
{% block css_link_block %}
<link rel="stylesheet" href="{% static 'css/seller_categories.css' %}" />
{% endblock %}


{% block title_block %}
categories
{% endblock %}

{% block content %}
<h1>ctg</h1>
{% for name,description,price,quantityType,productCategory,productId,product_item_imageUrl in product_item_list %}
    <div class="ctg-item">
        name: <a href="/seller_category_detail/?z={{productId}}">{{name}}</a> <br>description: {{description}} <br>price: {{price}} <br>quantityType: {{quantityType}} <br>productCategory: {{productCategory}} <br>productId: {{productId}} <br>
        {% if product_item_imageUrl %}
            img url : {{product_item_imageUrl}} <br>
            <img src="{{product_item_imageUrl}}" alt="no img" width="50%">
        {% endif %}
        <br><br>
    </div>
{% endfor %}
{% endblock %}

{% block js_link_block %}
<script type="text/javascript" src="js/seller_categories.js"></script>
{% endblock %}
