{% extends 'base_with_bottombar.html' %}
{% load static %}
{% block css_link_block %}
<link rel="stylesheet" href="{% static 'css/seller_products.css' %}" />
{% endblock %}


{% block title_block %}
products
{% endblock %}

{% block content %}
<h1>Products</h1>
{% for name,description,price,quantityType,productCategory,productId,product_item_imageUrl in product_item_list %}
    <div class="product-item-container-div">
        <div class="product-image-container-div">
            {% if product_item_imageUrl %}
                <img id="product-image" src="{{product_item_imageUrl}}" alt="no img">
            {% else %}
                <img id="product-image" src="{% static 'images/default-product.jpg'%}" alt="no img">
            {% endif %}
        </div>
        <div class="product-item-description-div">
            <div class="product-item-name-div product-item-text-div">
                <span id="product-name">{{name}}</span>
            </div>
            <div class="product-item-category-div product-item-text-div">
                <span id="product-category">{{productCategory}}</span>
            </div>
            <div class="product-item-price-div">
                <span id="product-price">${{price}}</span>
            </div>
            <div class="product-item-quantityType-name-div product-item-text-div">
                <span id="product-quantity-type">{{quantityType}}</span>
            </div>
            <div class="product-item-add-to-bag-div">
                <span id="add-to-bag"> <a href="/add_to_bag/?z={{productId}}">Add</a></span>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block js_link_block %}
<script src="{% static "js/seller_products.js" %}"></script>
{% endblock %}
