{% extends 'base_without_bottombar.html' %}
{% load static %}
{% block title_block %}
signup
{%endblock%}

{% block css_link_block %}

{% endblock %}

{% block content %}
{% if messg %}
<script type="text/javascript">
    alert('{{messg}}');
</script>
{% endif %}
    <h2>Sign Up</h2>
    <div class="signup-form-div">
        <form class="signup-form" action="/post_signup/" method="post">
            {% csrf_token %}
            WhatsApp number:
            <input type="text" name="phoneNumber" value="" required>
            Email:
            <input type="email" name="email" value="" required>
            Password:
            <input type="password" name="password" value="" required>
            <input type="submit" name="submit" value="Sign Up">
            <button type="button" name="button" onclick="location.href='{% url 'signin' %}'">Sign In</button>
        </form>
    </div>
{% endblock %}

{% block js_link_block %}
<script src="{% static "js/signup.js" %}"></script>
{% endblock %}
