{% extends 'base_without_bottombar.html' %}
{% load static %}
{% block css_link_block %}
<link rel="stylesheet" href="{% static 'css/user_phone_form.css' %}" />
{% endblock %}


{% block title_block %}
phone number
{% endblock %}

{% block content %}
<h1>Give your whatsapp number</h1>
<br>
<form class="phone-number-form" id="phone-number-form" method="post">
    {% csrf_token %}
    <input type="text" name="phone-number" id="phone-number" value="" required>
    <button type="button" onclick="location.href='{% url 'userOtpVerification' %}'">Send Code</button>
</form>
{% endblock %}

{% block js_link_block %}
<script src="{% static "js/user_phone_form.js" %}"></script>
{% endblock %}
