{% extends 'base_without_bottombar.html' %}
{% load static %}
{% block css_link_block %}
<link rel="stylesheet" href="{% static 'css/user_phone_form.css' %}" />
{% endblock %}


{% block title_block %}
phone number
{% endblock %}

{% block content %}
<div class="form-container">
		<h1>Give your whatsapp number</h1>

		<form class="phone-number-form" id="phone-number-form" method="post">
		    {% csrf_token %}
		    <input type="text" name="phone-number" id="phone-number" value="" maxlength = "10" required>
		    <div id="recaptcha-container"></div>
		    <button type="button" id="send-code-button" onclick="phoneAuth();">Send Code</button>
		</form>
		<h1>Enter verification code</h1>
		<form class="otp-form" id="otp-form" method="post">
		    {% csrf_token %}
		    <input type="text" name="otp-number" id="otp-number" maxlength = "6" value="" required>
		    <div></div>
		    <button type="button" id="verify-button" onclick="codeVerify();" name="button">Verify</button>
		</form>
</div>

<script type="text/javascript">
    var number;
    window.onload=function() {
        render();
    }
    function render() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }
    function phoneAuth(){
        number = document.getElementById('phone-number').value;
        number = "91"+number;
        phNumber = "+"+number;
        firebase.auth().signInWithPhoneNumber(phNumber,window.recaptchaVerifier).then(function(confirmationResult){
            window.confirmationResult = confirmationResult;
            coderesult = confirmationResult;
        }).catch(function(error){
            alert(error.message);
        });
    }

    function codeVerify() {
        document.getElementById("verify-button").disabled = true;
        var code = document.getElementById('otp-number').value;
        coderesult.confirm(code).then(function(result) {
            var user = result.user;
            console.log(user);
            user_id = user.uid.toString();
            window.location.replace("logged_in/?uid="+user_id+"&phoneNumber="+number);
        }).catch(function(error){
            alert(error.message);
        });
    }
</script>
{% endblock %}

{% block js_link_block %}
<script src="{% static "js/user_phone_form.js" %}"></script>
{% endblock %}
